{% comment %}
    Header Template for the application
{% endcomment %}
{% load static %}
{% load waffle_tags %}

<header class="bg-white" x-data="{ openMenu: false, openAccount: false }">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="{% url 'home' %}" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="{% static 'images/logo.png'  %}" alt="">
      </a>
    </div>
    <div class="flex lg:hidden">
      
      {% include "components/navbar-mobile-menu.html" %}
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      {% if user.is_authenticated %}
        <div class="relative flex items-center">
          <!-- Include Notifications Dropdown -->
          {% include "components/notifications.html" %}
          <div class="relative ml-4">
            <button @click="openAccount = !openAccount" type="button" class="flex items-center gap-x-1 text-sm font-semibold leading-6 text-gray-900">
                <img src="{{ user.avatar_url }}" alt="{{ user.username }}" class="h-12 w-12 rounded-full object-cover">
                <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
            </button>

            <!-- Account menu, show/hide based on menu state -->
            <div x-show="openAccount" @click.outside="openAccount = false" class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
              <div class="p-4">
                <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                  <div class="flex-auto">
                    <a href="#" class="block font-semibold text-gray-900">
                      My Profile
                      <span class="absolute inset-0"></span>
                    </a>
                  </div>
                </div>
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                    <div class="flex-auto">
                      <button type="submit" class="block font-semibold text-gray-900">
                        Logout
                        <span class="absolute inset-0"></span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <a href="{% url 'login' %}" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
      {% endif %}
    </div>
  </nav>
</header>
