{% load custom_filters %}

<div class="pagination-controls-container">
    <div>
        Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ paginator.count }} {{ label }}
    </div>
    {% if paginator.count > 1 %}
        <div class="pagination-controls font-size-small font-weight-bold">
            {% if page_obj.has_previous %}
                <a href="{% if page_obj.has_previous %}{% get_page_link page_obj.previous_page_number %}{% else %}#{% endif %}">
                    <div class="pagination-next">
                        Previous
                    </div>
                </a>
            {% else %}
                <div class="pagination-disabled">Previous</div>
            {% endif %}

            {% pagination_numbers %}

            {% if page_obj.has_next %}
                <a href="{% if page_obj.has_next %}{% get_page_link page_obj.next_page_number %}{% else %}#{% endif %}">
                    <div class="pagination-next">
                        Next
                    </div>
                </a>
            {% else %}
                <div class="pagination-disabled pagination-next">Next</div>
            {% endif %}
        </div>
    {% endif %}
</div>

