{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 py-12 bg-white shadow-lg rounded-lg mt-5">
    <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md" role="alert">
        <h4 class="alert-heading font-bold text-lg">Almost there!</h4>
        <p>An email has been sent to your address with instructions to reset your password.</p>
        <hr class="border-t my-2">
        <p class="mb-0">If you don't see the email, please check your spam or junk folder.</p>
    </div>
    <div class="flex justify-between mt-4">
        <button id="resend-email" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Resend Email
        </button>
         <a href="{% url 'contact_us' %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Contact Support</a>
    </div>
    <div class="mt-4">
        <h5 class="font-semibold">Important:</h5>
        <ul class="list-disc pl-5">
            <li>The password reset link will expire in 24 hours.</li>
            <li>If you did not request this reset, please ignore the email and contact support for suspicious activities.</li>
        </ul>
    </div>
</div>
{% endblock %}
